@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #231e18;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0 auto;
}

@font-face {
    font-family: 'nineteeneighty';
    src: url('../fonts/1980portable.otf');
}
@font-face {
    font-family: 'punkkid';
    src: url('../fonts/punkkid.ttf');
}
@font-face {
    font-family: 'varelaround';
    src: url('../fonts/VarelaRound-Regular.ttf');
}
@font-face {
    font-family: 'rubikdoodleshadow';
    src: url('../fonts/RubikDoodleShadow-Regular.ttf');
}
@font-face {
    font-family: 'rubikdoodletriangle';
    src: url('../fonts/RubikDoodleTriangles-Regular.ttf');
}
@font-face {
    font-family: 'alfaslabone';
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}
a {
    font-weight: 500;
    /* color: #646cff; */
    color: #ffcc59;
    text-decoration: underline;
}

a:hover {
    color: #646cff;
    text-decoration: underline;
}
html,
header {
    background-color: #100a06;
    /* background: linear-gradient(
        63deg,
        rgba(0, 0, 0, 1) 39%,
        rgba(29, 28, 22, 1) 66%,
        rgba(34, 29, 23, 0.9458377100840336) 94%
    ); */
}
html {
    scroll-behavior: smooth;
}
.scroll-section {
    scroll-margin-top: 6rem;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #110327;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}
main {
    min-height: 100vh;
    margin-top: 5rem;
}
h1 {
    font-size: 1.5rem;
    line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
input::placeholder,
input,
nav,
footer {
    letter-spacing: 0.04rem;
}

span.icons {
    display: block;
}

button {
    border-radius: 8px;
    padding: 0.4em 0.8em;
    font-size: 1.1em;
    font-weight: 400;
    /* font-family: 'Staatliches', cursive; */
    letter-spacing: 0.04rem;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0.25rem;
    border: 1px solid lightgrey;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:hover,
button:focus-visible,
input:focus {
    outline: 4px auto rgb(234 88 12);
}

/* @media (prefers-color-scheme: light) {
    :root {

        background-color: #ffffff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

.filter {
    display: flex;
    flex-direction: column;
}

.filter__list {
    display: flex;
    flex-wrap: wrap;
}

button:hover {
    color: white;
}

.filter__list {
    display: flex;
    flex-wrap: wrap;
}

.filter__list--item {
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.filter__list--item:hover,
.filter__list--item:active {
    background-color: #374151;
}

.filter__button--active {
    background-color: #374151;
}

.searchInput {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 36rem;
    max-width: 100%;
    font-size: 1.2rem;
}

label {
    color: white;
    max-width: 28rem;
}

.hero-bg {
    background-image: url(/img/tonys-drums-overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
    @media only screen and (min-width: 768px) {
        height: 60vh;
        background-attachment: fixed;
    }
}

.tony-bg {
    /* background-image: url(/img/tony-mike-drummer.png); */
    background-image: url(/img/tony-drums.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    @media only screen and (min-width: 768px) {
        height: auto;
    }
}
.band-bg {
    background-image: url(/img/band_singers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    @media only screen and (min-width: 768px) {
        height: auto;
        min-height: 30vh;
    }
}

.img-divider {
    background-image: url(/img/simple-microphone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    @media only screen and (min-width: 1024px) {
        height: 30vh;
    }
}

.shadow {
    border: 2px solid;
    box-shadow: 6px 4px rgb(224, 95, 3);
}

.max65 {
    max-width: 65%;
}
.hero-title {
    font-size: 2.75rem;
    line-height: 1.35;
    background: url(/img/dark-bg-splash.png) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: max-content;
    @media only screen and (min-width: 1024px) {
        font-size: 4.25rem;
        max-width: 45%;
    }
}
.font-nineteeneighty {
    letter-spacing: 4px;
}
.event-type {
    background: url(/img/bright-bg-splash.png) center no-repeat;
    background-size: cover;
    padding: 2rem;
    background-position-y: 40%;
}

.date-time {
    /* background: url(/img/dark-bg-splash.png) center no-repeat;
    background-size: cover;
    padding: 2rem;
    background-position-x: 40%; */
    /* background-color: #222529;
     */
    /* background-color: white; */
}
.stamp {
    background: url(/img/messy.png) center no-repeat;
    background-size: cover;
    background-position-y: 40%;
    width: auto;
    position: absolute;
    bottom: 0;
    padding: 5rem;
    /* height: 4rem; */
}
/* .stamp {
    font-family: 'Courier';

    position: absolute;
    bottom: 0;
    right: 1rem;
    padding: 0;
    width: 11rem;
    height: 6rem;

    @media only screen and (min-width: 1024px) {

        bottom: 4.5rem;
        left: 22rem;
        width: 14rem;
        height: 6rem;
    }
    img {
        filter: brightness(1.1);
    }
    p {
        font-size: 1.15rem;
        transform: translate(1.5rem, 3.8rem) rotate(-6deg);
        position: absolute;
        z-index: 1;
        @media only screen and (min-width: 1024px) {
            transform: translate(2.5rem, 4rem) rotate(-6deg);
        }
    }
} 
*/
